<!DOCTYPE html>  
<html>  
    <head>  
        <meta charset="UTF-8">  
        <title></title>  
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">  
        <link rel="stylesheet" type="text/css" media="all" href="assets/css/daterangepicker.css" />  
    </head>  
    <body>  
        <form class="form-inline">  
            <div id="divDateId" class="pull-left dateRange">  
                <input class="form-control" id="searchDate"></input>  
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>  
            </div>  
        </form>  
    </body>  
    <script type="text/javascript" src="assets/js/jquery-3.2.1.min.js" ></script>  
    <script type="text/javascript" src="assets/js/bootstrap.min.js" ></script>  
    <script type="text/javascript" src="assets/js/date-time/moment.min.js" ></script>  
    <script type="text/javascript" src="assets/js/date-time/daterangepicker.min.js" ></script>  
    <script src="assets/js/sys_operation.js"></script>
</html> 
